html {
    scroll-behavior: smooth;
}

body {
    margin: 0 ;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar{
    margin: 0 !important;
    border-radius: 0% !important;
    color: #ffffff !important;
    background-color: #000000 !important;
}

.navbar > .active{
    background-color: #bb0000 !important;
    color: #000000 !important;
}
.parallax-container {
    height: 100vh;
    background-image: url('../images/background-img.jpg');
    /* Replace 'your-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    /* Adjust text color based on your image */
}

.parallax-text {
    font-size: 24px;
    font-weight: bold;
}

.content {
    background-color: #000000;
    padding: 20px;
}

.sections {
    height: 100vh; 
    max-width: 800px;
    margin: 5% auto;
    padding: 20px;
    color: #ffffff;
}

.title-section{
    height: 100vh;
    background-image: url('../images/background-img.jpg');
    /* Replace 'your-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
    position: absolute;
    /* Set the image to absolute positioning */
    top: 10px;
    /* Adjust the top position as needed */
    left: 10px;
    /* Adjust the right position as needed */
    border-radius: 30%;
}

.image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin-bottom: 0.5em;
}

input,
textarea {
    padding: 0.5em;
    margin-bottom: 1em;
}

.button-btn {
    background-color: #1a1a1a;
    color: #fff;
    padding: 0.5em;
    cursor: pointer;
}
.btn-toggle{
    background-color: #f4f4f400;
    border: none;
    margin-bottom: 3%;
}
.toggle-buttons .btn-toggle.active {
    border-bottom: 1px solid #f6fa0a;

}
.toggle-buttons {
    margin-top: 20px;
}

.hidden {
    display: none;
}

footer{
    background-color: #1b1b1b;
    color: #ffffff;
    text-align: center;
}