html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navbar initial state (no background) */
.navbar-custom {
    background-color: transparent;
    transition: background-color 0.5s ease;
    margin: 0;
    color: #ffffff;
    border: none;
}

/* Navbar with background */
.navbar-custom.scrolled {
    background-color: #000;
    /* Your desired background color */
}

/* Custom CSS for underline effect */
.navbar-nav>li>a {
    position: relative;
    overflow: hidden;
}

/* Add space between li elements */
.navbar-nav>li {
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-nav>li>a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    /* Set the underline color */
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.navbar-nav>li>a:hover::before,
.navbar-nav>li.active>a::before {
    visibility: visible;
    transform: scaleX(1);
}

/* Remove grey background for active link and set it to black */
.navbar-nav>li.active>a,
.navbar-nav>li>a:focus,
.navbar-nav>li>a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

.parallax-container {
    height: 100vh;
    background-image: url('../images/background-img.jpg');
    /* Replace 'your-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    /* Adjust text color based on your image */
}

.parallax-text {
    font-size: 24px;
    font-weight: bold;
}

.content {
    background-color: #000000;
    padding: 20px;
}

.sections {
    height: 100vh;
    max-width: 800px;
    margin: 5% auto;
   
    color: #ffffff;
    padding-top: 50px;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
  }

  .skills {
    margin-top: 20px;
  }

  .skills .progress {
    margin-bottom: 10px;
  }

  .about h2 {
    border-bottom: 2px solid #0051ff;
    display: inline-block;
    padding-bottom: 5px;
  }
.title-section {
    height: 100vh;
    background-image: url('../images/background-img.jpg');
    /* Replace 'your-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin-bottom: 0.5em;
}

input,
textarea {
    padding: 0.5em;
    margin-bottom: 1em;
}

.button-btn {
    background-color: #1a1a1a;
    color: #fff;
    padding: 0.5em;
    cursor: pointer;
}

.btn-toggle {
    background-color: #f4f4f400;
    border: none;
    margin-bottom: 3%;
}

.toggle-buttons .btn-toggle.active {
    border-bottom: 1px solid #0051ff;

}

.toggle-buttons {
    margin-top: 20px;
}

.hidden {
    display: none;
}

footer {
    background-color: #1b1b1b;
    color: #ffffff;
    text-align: center;
}